header{
    padding-top: 10px;
}
header a{
    text-decoration: none;
    color: rgba(42, 42, 42, 1) !important;
}
header h3{
    font-size: 15px;
}
.signUp-btn{
    background: rgba(0, 126, 138, 1);
    color: #fff;
    padding: 5px 25px;
    font-size: 15px;
}
.LogIn-btn{
    background-color: rgba(200, 213, 216, 1);
    color: rgba(42, 42, 42, 1);
    font-weight: 600;
    font-size: 15px;
}
header .img-box{
    width: 350px;
    margin: 0xp auto;
}
header .img-box img{
    width: 100%;
    object-fit: cover;
}
button{
    border: none;
}